body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  line-height: 26px;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background {
  position: relative;
  width: 1200px;
  height: 510px;
  padding-top: 76px;
  text-align: center;
  background-color: #fff;
  background-image: url("../img/fon.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-mask1.svg");
}

a {
  text-decoration: none;
}

button.search-form-btn {
  min-height: 58px;
  padding: 16px;
  margin-top: 54px;
  outline: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-form-btn {
  color: #ffffff;
  background-color: #81b3d2;
}

button.search-form-btn:hover {
  background-color: #669ec0;
}

button.search-form-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.navigation {
  min-height: 56px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffffff;
}

.list-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  width: 240px;
  padding: 15px 0;
  text-align: left;
  margin-left: 71px;
}

.navigation-item:nth-child(2) {
  margin-right: 240px;
}

.list-navigation a {
  color: #000;
}

.list-navigation a:hover,
.list-navigation a:focus {
  color: #81b3d2;
}

.list-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.photo-video{
  margin-top: 15px;
  margin-left: 2px;
}

.map-state{
  margin-top: 15px;
  margin-left: 387px;
}

.shelter{
  margin-top: 15px;
  margin-left: 166px;
}


.main-index {
  text-align: center;
  background-color: #ffffff;
}

.advantage-description {
  margin: 61px 0 50px 0;
  padding: 0;
  line-height: 26px;
}

.main-description {
  width: 636px;
  margin: -2px auto 28px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.text-features {
  margin-top: 24px;
  color: #333333;
}

.main-map {
  margin: 52px 0 23px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.select-map {
  line-height: 24px;
  color: #333;
  margin: 0 auto 47px;
}

.form {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    -ms-transform: translateY(-100px);
  }

  70% {
    -ms-transform: translateY(30px);
  }

  90% {
    -ms-transform: translateY(-10px);
  }

  100% {
    -ms-transform: translateY(0);
  }
}

.form-hide {
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.button-size button {
  font: inherit;
  border: none;
  font-weight: bold;
  color: #a9a9a9;
}

.search-button-map {
  width: 568px;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search-button-map:hover,
.search-button-map:focus {
  background-color: #604e43;
}

.search-button-map:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  position: absolute;
  z-index: 1;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
  display: flex;
  flex-direction: column;
  width: 568px;
  min-height: 395px;
  margin: 0 0 78px 316px;
  padding: 55px;
}

.map {
  height: 475px;
  position: relative;
}

iframe {
  border: 0;
}

.map-field {
  width: 100%;
  z-index: 5;
}

.form-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.form-item-wrapper:last-of-type {
  margin-bottom: 0;
}

.form-persons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 226px;
}

.persons-wrapper-children {
  width: 180px;
}

.forms-hotel {
  display: flex;
  text-align: right;
}

.hotel-persons {
  font-weight: bold;
  height: 39px;
}

.hotel-date {
  font-weight: bold;
  width: 346px;
  min-height: 38px;
  padding: 6px 12px;
}

.index-search__form-calendar {
  position: absolute;
  right: 58px;

  margin: 0;
  padding-top: 2px;
  border: 0;
  line-height: 37px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__form-calendar:hover,
.index-search__form-calendar:focus {
  color: #000000;
  outline: none;
  cursor: pointer;
}

.hotel-persons {
  width: 114px;
  text-align: center;
}

.search-form input {
  border: none;
  background-color: #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  outline: none;
  border: 2px solid #e5e5e5;
  background-color: #fff;
}

.index-search__minus-btn {
  position: absolute;
  left: 14px;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 33px;
  font-size: 37px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__plus-btn {
  position: absolute;
  right: 14px;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 37px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__minus-btn:hover,
.index-search__minus-btn:focus,
.index-search__plus-btn:hover,
.index-search__plus-btn:focus {
  color: #000000;
  outline: none;
  cursor: pointer;
}

.index-search__guests {
  position: relative;
}

.index-search__minus-btn:active,
.index-search__plus-btn:active {
  color: #81b3d2;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.button-social:last-child {
  margin: 0;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-social:active img {
  opacity: 30%;
}

.main-footer {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 120px;
  padding-top: 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer1 {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 120px;
  padding-top: 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-item {
  display: flex;
  justify-content: center;
}

.main-footer-item1 {
  display: flex;
  justify-content: center;
}

.main-footer-contacts {
  flex-direction: column;
  align-items: baseline;
  margin-right: 178px;
  margin-left: 123px;
  margin-bottom: 5px;
}

.main-footer-contacts1 {
  flex-direction: column;
  align-items: baseline;
  margin-top: 3px;
  margin-right: 172px;
  margin-left: 129px;
  margin-bottom: 5px;
}

.footer-hashtag,
.footer-text {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 33px;
  font-weight: bold;
}

.footer-hashtag1,
.footer-text1 {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 33px;
  font-weight: bold;
}

.footer-hashtag {
  margin-right: 87px;
}

.main-footer-social {
  margin: 2px 228px 4px 0;
  list-style: none;
  padding: 0;
}

.main-footer-social1 {
  margin: 7px 228px 4px 0;
  list-style: none;
  padding: 0;
}

.hell-academy{
  margin-left: -3px;
}

.hell-academy1{
  margin-left: -3px;
  margin-bottom: -4px;
}

.creator-logo {
  fill: #000000;
  width: 115px;
  height: 51px;
  margin-left: 11px;
}

.creator-logo:hover,
.creator-logo:focus {
  fill: #81b3d2;
}

.creator-logo:active {
  fill: #bdbbbc;
}

.creator-logo1 {
  fill: #000000;
  width: 115px;
  height: 51px;
  margin-left: 11px;
}

.creator-logo1:hover,
.creator-logo1:focus {
  fill: #81b3d2;
}

.creator-logo1:active {
  fill: #bdbbbc;
}

.index-search__form-date {
  position: relative;
}

.index-search__form-date,
.index-search__guests-number {
  width: 346px;
  padding: 6px 12px;
}

.index-search__form-date,
.index-search__guests-number,
.index-search__form-btn {
  height: 38px;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.index-search__form-date::placeholder {
  color: #000000;
  opacity: 1;
}

.true-city,
.devil-bridge {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  line-height: 21px;
  font-size: 21px;
  vertical-align: middle;
  width: 100%;
  height: 255px;
  margin: 0;
  display: flex;
}

.true-city span,
.true-city p,
.devil-bridge span,
.devil-bridge p {
  font-weight: 400;
  font-size: 14px;
}

.city-picture,
.bridge-picture {
  width: 800px;
}

.first-group,
.second-group {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  width: 1200px;
  height: 258px;
  margin: 0 auto;
  display: flex;
}

.first-group {
  height: 330px;
}

.city-advantage h2,
.area-advantage h2 {
  margin-top: 23px;
  font-size: 21px;
  line-height: 21px;
}

.hell {
  margin-top: -7px;
  margin-bottom: 26px;
}

.text-heading {
  width: 117px;
  margin-left: 141px;
  margin-bottom: 21px;
}

.text-explanation {
  width: 261px;
  margin-left: 70px;
  margin-top: 20px;
}

.city-advantage p,
.area-advantage p,
.area-advantage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.city-advantage {
  width: 400px;
  margin: 60px 50px 68px;
}

.description {
  width: 400px;
  margin: 45px 0 64px 0;
}

.description h2 {
  font-size: 21px;
  line-height: 23px;
  margin: 0 0 19px 125px;
  width: 151px;
}

.description p {
  width: 303px;
  margin-left: 48px;
  margin-top: 20px;
}

.area-advantage {
  width: 400px;
  padding-top: 25px;
  background-color: #eeeeee;
}

/* Каталог */

.filters {
  display: flex;
  width: 100%;
  height: 217px;
  background-color: #4e81a3;
  background-image: url("../img/filter-background.jpg");
  background-position: center -60px;
  color: #ffffff;
}

.filter {
  display: flex;
}

.filter fieldset {
  margin-top: 28px;
  margin-left: 60px;
  border: none;
}

.filter fieldset:last-child {
  margin-right: 337px;
  margin-left: 98px;
}

.filter legend {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 42px;
}

.filter label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off-disabled.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on-disabled.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 316px;
  margin-top: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 35px;
  vertical-align: top;
  cursor: pointer;
}

.min-price {
  margin-left: 65px;
  font-weight: bold;
}

.max-price {
  float: right;
  margin-right: 34px;
  font-weight: bold;
}

.price-controls input {
  width: 47px;
  height: 35px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 82px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-result {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-right: 72px;
}

.found {
    margin-top: 30px;
    font-size: 21px;
    line-height: 25px;
    margin-right: 48px;
    font-weight: bold;
}

.filter-features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.filter-result li {
  margin-top: 35px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting {
  margin-right: 39px;
  font-weight: bold;
}

.by-price {
  margin-right: 32px;
  color: #81b3d2;
}

.by-type,
.by-rating {
  margin-right: 34px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.by-rating {
  margin-right: 0;
}

.by-type:hover,
.by-type:focus,
.by-rating:hover,
.by-rating:focus {
  color: #81b3d2;
}

.by-type:active,
.by-rating:active {
  color: #000000;
  border: none;
}

.arrows {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
  margin-top: 6px;
  vertical-align: middle;
}

.arrows li {
  margin-top: 30px;
}

.arrows button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}

.arrows button:first-child {
  padding-left: 12px;
}

.arrows button:last-child {
  padding-right: 0px;
  fill: #81b3d2;
}

.up-arrow path {
  fill: #cacaca;
}

.up-arrow path:hover,
.up-arrow path:focus {
  fill: #231f20;
}

.up-arrow path:active {
  fill: #81b3d2;
}

.down-arrow path {
  fill: #81b3d2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-list {
  margin: 0;
  padding-left: 0;
}

.hotel-info-left {
  display: flex;
  margin-left: 71px;
}

.hotel-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 121px;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.hotel-item-info {
  display: block;
  min-height: 90px;
  margin-left: 30px;
}

.hotels {
  background-color: #ffffff;
  background-image: none;
}

.hotel-item-head {
  width: 100%;
  margin: 0;
  margin-top: -4px;
  padding-bottom: 2px;
  padding-top: 0;
  display: flex;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.hotel-name:hover,
.hotel-item-head:hover {
  color: #81b3d2;
}

.hotel-name:active,
.hotel-item-head:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-details {
  width: 100%;
  display: flex;
  margin-top: 13px;
  margin-bottom: 14px;
}

.hotel-diversity,
.hotel-price {
  margin-top: -7px;
  width: 115px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotel-diversity {
  margin-right: 1px;
}

.hotel-details,
.hotel-book {
  width: 110px;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.hotel-details {
  margin-right: 1px;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-book {
  width: 142px;
  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-item-rate {
  display: block;
  margin-right: 71px;
  justify-content: space-between;
  width: 110px;
  height: 90px;
}

.raiting {
  display: inline-block;
  margin-right: 72px;
  width: 110px;
  min-height: 27px;
  padding: 3px 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.stars {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-bottom: 35%;
}

.margin-stars {
  margin-right: 6px;
}

.name-size {
  font-size: 21px;
  font-weight: bold;
}

.view {
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-header {
  position: relative;
}
