body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background{
  position: relative;
  width: 1200px;
  height: 510px;
  padding-top: 76px;
  margin-bottom: 52px;
  text-align: center;
  background-color: #fff;
  background-image: url("../img/fon.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;
  background-image: url("../img/intro-mask1.svg");
}
a {
  text-decoration: none;
}

button.search-form-btn {
  min-height: 58px;
  padding: 16px;
  margin-top: 54px;
  outline: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

button.search-form-btn:hover {
  background-color: #669ec0;
}
button.search-form-btn:active,
button.search-form-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.navigation {
  min-height: 56px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffffff;
}

.list-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-item {
  width: 240px;
  padding: 15px 0;

  text-align: center;
}

.navigation-item:nth-child(2) {
  margin-right: 240px;
}

.list-navigation a {
  color: #000;
}

.list-navigation a:hover,
.list-navigation a:focus {
  color: #81b3d2;
}

.list-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-index {
  text-align: center;

  background-color: #ffffff;
}

.advantage-description {
  color: #333;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.main-description {
  width: 636px;
  margin: 0 auto 27px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
}

.text-features {
  margin-bottom: 58px;
}

.main-map {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.select-map {
  line-height: 24px;
  color: #333;
  margin-bottom: 52px;
}


.button-size button {
font: inherit;

 border: none;
 font-weight: bold;
 color: #a9a9a9;
}

.search-button-map {
  width: 568px;
  padding: 30px 0;

  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search-button-map:hover,
.search-button-map:focus {
  background-color: #604e43;
}

.search-button-map:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form {
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);

  display: flex;
  flex-direction: column;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  padding: 55px;
}

.form-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.form-item-wrapper:last-of-type {
  margin-bottom: 0;
}

.form-persons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 226px;
}

.persons-wrapper-children {
  width: 180px;
}

.forms-hotel{
  display: flex;
  text-align: right;
}

.hotel-date,
.hotel-persons {
  width: 306px;
  min-height: 38px;
  padding: 6px 12px;
}

.index-search__form-calendar {
  display: flex;
  position:relative;


  width: 40px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 0;
}

.index-search__form-calendar:hover svg,
.index-search__form-calendar:focus svg,
.index-search__form-calendar:hover,
.index-search__form-calendar:focus {
  outline: none;
  fill: #000000;

  cursor: pointer;
}

.index-search__form-calendar:active svg {
  outline: none;

  fill: #81b3d2;
}

.index-search__form-calendar svg{
  position: relative;
  margin-left: auto;
    margin-right: auto;
}

.hotel-persons {
  width: 114px;

  text-align: center;
}


.search-form input {
  border: none;
  background-color: #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  outline: none;
  border: 2px solid #e5e5e5;

  background-color: #fff;
}

.index-search__minus-btn {
  position: absolute;
  left: 14px;

  margin: 0;
  padding: 0;
  border: 0;

  line-height: 33px;
  font-size: 37px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__plus-btn {
  position: absolute;
  right: 14px;

  margin: 0;
  padding: 0;
  border: 0;

  line-height: 37px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__minus-btn:hover,
.index-search__minus-btn:focus,
.index-search__plus-btn:hover,
.index-search__plus-btn:focus {
  color: #000000;

  outline: none;
  cursor: pointer;
}

.index-search__guests {
  position: relative;
}

.index-search__minus-btn:active,
.index-search__plus-btn:active {
  color: #81b3d2;
}


.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: #81b3d2;
}

.button-social:last-child {
 margin: 0;
}

.button-social:hover {
 background-color: #669ec0;
}

.button-social:active {
 background-color: #5496bd;
 color: #88b6d1;
}

.button-social:active img {
  opacity: 30%;
}

.main-footer{
 display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-right: 122px;
  padding-left: 122px;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer-contacts {
  flex-direction: column;
  align-items: baseline;
}

.footer-hashtag,
.footer-text {
  padding: 0;
  margin: 0;

  font-size: 21px;
  line-height: 33px;
  font-weight: bold;
}


.main-footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.creator-logo {
  fill: #000000;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.creator-logo:hover,
.creator-logo:focus {
  fill: #81b3d2;
}

.creator-logo:active{
  fill: #bdbbbc;
}

.index-search__form-date {
  position: relative;
}
.index-search__form-date,
.index-search__guests-number {
  width: 346px;
  padding: 6px 12px;
}
.index-search__form-date,
.index-search__guests-number,
.index-search__form-btn {
  height: 38px;

  font-size: 14px;
  line-height: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.index-search__form-date::placeholder {
  color: #000000;
  opacity: 1;
}


/* Каталог */


.hotel-info-left {
  display: flex;

}

.hotel-item {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  min-height: 150px;
  padding: 30px 72px;

  font-size: 14px;
  line-height: 21px;

  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}



.hotel-item-info {
  display: block;
  min-height: 90px;
  padding-left: 5%;
}

.hotel-item {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  min-height: 150px;
  padding: 30px 72px;

  font-size: 14px;
  line-height: 21px;

  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.hotels {
  background-color: #ffffff;
  background-image: none;
}

.hotel-item-head {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;

}

.hotel-name:hover,
.hotel-item-head:hover {
  color: #81b3d2;
}

.hotel-name:active,
.hotel-item-head:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-details {
  width: 100%;
  display: flex;
  padding-bottom: 5%;
}

.hotel-diversity,
.hotel-price{
  width: 115px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.hotel-details,
.hotel-book {
  width: 110px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;

  background-color: #81b3d2;
}


.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-book {
  width: 142px;
  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-item-rate {
  display:block;
  justify-content: space-between;
  width: 110px;
  height: 90px;
}

.raiting {
  display: inline-block;
  width: 110px;
  min-height: 27px;
  padding: 3px 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;

  color: #666666;

  background-color: #f2f2f2;
}


.stars {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-bottom: 35%;
}

.name-size {
  font-size: 21px;
  font-weight: bold;
}

.view {
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}


.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-header {
  position: relative;
}
